<table class="table table-hover table-striped table-bordered " >
  <tr *ngFor="let e of employeeList">
    <td>{{e.empNo}}</td>
    <td>{{e.empName}}</td>
    <td>{{e.empDesignation}}</td>
    <td>{{e.empSalary}}</td>
    <td>
      <button class="btn btn-primary" type="submit" (click)="addEmployee()"> Add </button>
    </td>
    <td>
      <button class="btn btn-warning" type="submit" (click)="editEmployee()"> Edit </button>
    </td>

    <td>
      <button class="btn btn-danger" type="submit" (click)="deleteEmployee()"> Delete </button>
    </td>
  </tr>
</table>
